<div id="view_change_password" class="d-none">
  {% include "partials/auth_nav.html" %}

  <div class="card">
    <div class="card-header">Change Password</div>
    <div class="card-body">
      <div class="mb-2">
        <label class="form-label">Old password</label>
        <input id="old_password" type="password" class="form-control" />
      </div>
      <div class="mb-2">
        <label class="form-label">New password</label>
        <input id="new_password" type="password" class="form-control" />
      </div>
      <button id="btn_change_password" class="btn btn-warning">Change Password</button>
    </div>
  </div>
</div>
