<div id="view_login" class="d-none">
  <div class="row g-3">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body">
          <div class="mb-2">
            <label class="form-label">Username</label>
            <input id="login_username" class="form-control" />
          </div>
          <div class="mb-2">
            <label class="form-label">Password</label>
            <input id="login_password" type="password" class="form-control" />
          </div>
          <button id="btn_login" class="btn btn-success">Login</button>
          <a href="#/register" class="btn btn-outline-primary ms-2">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>
